<p>Data: <%= l Time.now, format: "%d/%m/%Y" %></p>

<%= form_for(@account_transaction) do |f| %>
    <%= f.hidden_field :account_id , value: params[:account_id] %>
    <%= f.hidden_field :tr_type, value: params[:tr_type] %>
    <%= f.label :doc_ref, 'Documento de referência' %>
    <%= f.text_field :doc_ref %>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
    <%= f.label :balance, 'Quantia' %>
    <%= f.number_field :amount, min: 0.01, step: 0.01 %>
    <%= f.submit 'Realizar transação', data: {confirm: 'Tem certeza?'} %>
<% end %>



