<h3>Detalhes da conta</h3>

<%= check_active (@account) %>

<p>Data de abertura:  <%= l @account.created_at, format: "%d/%m/%Y" %></p>

<p>Banco número: <%= @account.bk_number %></p>

<p>Agência: <%= @account.bk_branch %></p>
<p>Conta número: <%= @account.account_number %></p>
<p>Saldo atual: <%= number_to_currency @account.account_balance %></p> <!-- number_to_currency is a i18n helper method -->

<p>Detalhes: <%= @account.details %></p>

<%= render 'form_transf' %><!--renders the form that allows transferences between the accoutns -->

<p>Transações realizadas</p>
<p>Depósito para abertura da conta: <%= number_to_currency @account.balance %>

<% @account.account_transactions.each do |t| %>
	<p>Data <%= l t.created_at, format: "%d/%m/%Y"%> -tipo: <%= t.tr_type %> - valor: <%= number_to_currency t.amount %> - Descrição: <%= t.description %> - Conta: <%= t.doc_ref %></p>
<% end %>

<!-- Sending the accounts id to transactions -->
<%= link_to 'Depósito', new_account_transaction_path(account_id: @account.id, tr_type: 'C', account_active: @account.account_active) %>
<%= link_to 'Saque', new_account_transaction_path(account_id: @account.id, tr_type: 'D', account_active: @account.account_active) %>


<%= link_to 'Voltar', accounts_path, class: 'btn btn-default'%>


