<h3>Detalhes da conta</h3>

<p>Banco número: <%= @account.bk_number %></p>

<% if @account.account_active? %>
    <p>Conta ativa</p>
<% else%>
    <p>Conta inativa</p>
<% end %>    

<p>Data de abertura:  <%= @account.created_at %></p>
<p>Agência: <%= @account.bk_branch %></p>
<p>Conta número: <%= @account.account_number %></p> 
<p>Depósito inicial: <%= @account.balance %></p> 
<p>Detalhes: <%= @account.details %></p>

<!-- sending the accounts id to transactions -->
<%= link_to 'Transação', new_account_transaction_path(account: @account.account_number, account_id: @account.id) %>

<%= link_to 'Voltar', accounts_path, class: 'btn btn-default'%>


